body {
    font-family: font-family( 'primary' );
    margin: 0;
}

code {
    background: #eeeeee;
    font-size: 1rem;
    padding: 0.313rem;
}

pre {
    background: #eeeeee;
    font-size: 1rem;
    padding: 1rem;
}